/*< ---------------------------------------------------------- Helper Buttons Container >*/
.conditionModifier-helperButtons-container {

	align-items: center;

	flex-shrink: 0;
	flex-direction: row;

	justify-content: flex-end;
	
	/* top - right - bottom - left */
	margin: 0px 0px 2px 4px;
}


/*< ---------------------------------------------------------- Move Up Button >*/
.conditionModifier-moveUp-button {

	align-self: center;

	height: 21px;
	width: 21px;

	flex-shrink: 0;

	/* top - right - bottom - left */
	margin: 3px 2px 0px 0px;
}

.conditionModifier-moveUp-button:disabled {

	-unity-background-image-tint-color: rgba(255, 255, 255, 0.35);
}

.conditionModifier-moveUp-button:enabled:hover {
	
	cursor: link;
}

.conditionModifier-moveUp-button:enabled:hover
.background-highlighter {
	
	align-self: center;
	
	background-color: rgba(255, 255, 255, 0.133);

	height: 21px;
	width: 21px;

	/* top - right - bottom - left */
	border-radius: 4px;
}


/*< ---------------------------------------------------------- Move Down Button >*/
.conditionModifier-moveDown-button {

	align-self: center;

	height: 21px;
	width: 21px;

	flex-shrink: 0;

	/* top - right - bottom - left */
	margin: 3px 0px 0px 0px;
}

.conditionModifier-moveDown-button:disabled {

	-unity-background-image-tint-color: rgba(255, 255, 255, 0.35);
}

.conditionModifier-moveDown-button:enabled:hover {
	
	cursor: link;
}

.conditionModifier-moveDown-button:enabled:hover
.background-highlighter {
	
	align-self: center;
	
	background-color: rgba(255, 255, 255, 0.133);

	height: 21px;
	width: 21px;

	/* top - right - bottom - left */
	border-radius: 4px;
}


/*< ---------------------------------------------------------- Rename Button >*/
.conditionModifier-rename-button {

	align-self: center;

	height: 24px;
	width: 24px;

	flex-shrink: 0;

	/* top - right - bottom - left */
	margin: 2.5px -2px 0px 0px;
}

.conditionModifier-rename-button:disabled {
	
	-unity-background-image-tint-color: rgba(255, 255, 255, 0.35);
}

.conditionModifier-rename-button:enabled:hover {
	
	cursor: link;
}

.conditionModifier-rename-button:enabled:hover
.background-highlighter {
	
	align-self: center;
	
	background-color: rgba(255, 255, 255, 0.133);

	height: 21px;
	width: 21px;

	/* top - right - bottom - left */
	margin: 1px 0px 0px 0px;
	border-radius: 4px;
}


/*< ---------------------------------------------------------- Remove Button >*/
.conditionModifier-remove-button {

	align-self: center;

	height: 27px;
	width: 26.5px;

	flex-shrink: 0;

	/* top - right - bottom - left */
	margin: 4px 2.5px 0px 0px;
}

.conditionModifier-remove-button:disabled {

	-unity-background-image-tint-color: rgba(255, 255, 255, 0.35);
}

.conditionModifier-remove-button:enabled:hover {
	
	cursor: link;
}

.conditionModifier-remove-button:enabled:hover
.background-highlighter {
	
	align-self: center;
	
	background-color: rgba(255, 255, 255, 0.133);
	
	height: 21px;
	width: 21px;

	/* top - right - bottom - left */
	margin: 2.5px 0px 0px 0px;
	border-radius: 4px;
}


/*< ---------------------------------------------------------- Dropdowns Container >*/
.conditionModifier-dropdowns-container {
	
	flex-direction: row;
}


/*< ---------------------------------------------------------- Operation Container >*/
.conditionModifier-operation-container {
	
	background-color: rgba(42, 42, 42, 1);
	
	/* top - right - bottom - left */
	margin: 0px 6px 6px 6px;
	border-radius: 4px;
}


/*< ---------------------------------------------------------- Operation Label >*/
.conditionModifier-operation-label {
	
	color: rgba(210, 210, 210, 1);
	
	flex-shrink: 0;

	-unity-font-definition: url('project:/Assets/Data/Fonts/Inter/asset/Inter-Regular-Static-SDF.asset');
	
	white-space: nowrap;
	
	word-spacing: 3px;

	/* top - right - bottom - left */
	margin: 2.5px 0px 4px 6px;
}


/*< ---------------------------------------------------------- Chain with Container >*/
.conditionModifier-chainWith-container {

	background-color: rgba(42, 42, 42, 1);
	
	/* top - right - bottom - left */
	margin: 0px 6px 6px 0px;
	border-radius: 4px;
}


/*< ---------------------------------------------------------- Chain with Label >*/
.conditionModifier-chainWith-label {

	color: rgba(210, 210, 210, 1);
	
	flex-shrink: 0;

	-unity-font-definition: url('project:/Assets/Data/Fonts/Inter/asset/Inter-Regular-Static-SDF.asset');
	
	white-space: nowrap;
	
	word-spacing: 3px;

	/* top - right - bottom - left */
	margin: 2.5px 0px 4px 6px;
}


/*< ---------------------------------------------------------- Variable Group >*/
.conditionModifier-variableGroup {

	background-color: rgba(42, 42, 42, 1);

	/* top - right - bottom - left */
	margin: 0px 6px 6px 6px;
	padding: 0px 0px 6px 0px;
	border-radius: 4px;
}


/*< ---------------------------------------------------------- Variable Group Main Label Container >*/
.conditionModifier-variableGroup-mainLabelContainer {

	flex-direction: row;

	justify-content: space-between;
}


/*< ---------------------------------------------------------- Variable Group Label >*/
.conditionModifier-variableGroup-label {

	color: rgba(210, 210, 210, 1);
	
	flex-shrink: 0;

	-unity-font-definition: url('project:/Assets/Data/Fonts/Inter/asset/Inter-Regular-Static-SDF.asset');
	
	white-space: nowrap;
	
	word-spacing: 9px;

	/* top - right - bottom - left */
	margin: 3px 0px 0px 6px;
}

.conditionModifier-variableGroup-label-first {

	margin-bottom: 2px;
}


/*< ---------------------------------------------------------- Variable Group Field Info Container >*/
.conditionModifier-variableGroup-fieldInfo-container {

	/* top - right - bottom - left */
	margin: 9px 0px 0px 0px;
}


/*< ---------------------------------------------------------- Variable Group Field Info Label >*/
.conditionModifier-variableGroup-fieldInfo-label {
	
	color: rgba(210, 210, 210, 1);
	
	flex-shrink: 0;

	-unity-font-definition: url('project:/Assets/Data/Fonts/Inter/asset/Inter-Regular-Static-SDF.asset');
	
	white-space: nowrap;
	
	word-spacing: 9px;

	/* top - right - bottom - left */
	margin: 0px 0px 0px 6px;
}


/*< ---------------------------------------------------------- Variable Group Text Field >*/
.conditionModifier-variableGroup-textField-field {

	background-color: rgba(32, 32, 32, 1);

	height: 27px;
	min-width: 406px;
	
	flex-shrink: 0;
	flex-direction: row;

	overflow: hidden;

	white-space: normal;

	/* top - right - bottom - left */
	margin: 3.5px 6px 6px 6px;
	border-radius: 4px;
	
	--unity-selection-color: rgba(61, 128, 223, 0.65);
	--unity-cursor-color: rgba(180, 180, 180, 1);
}

.conditionModifier-variableGroup-textField-field:hover {

	border-color: rgba(101, 101, 101, 1);

	/* top - right - bottom - left */
	border-width: 0.5px;
}

.conditionModifier-variableGroup-textField-field:focus {
	
	border-color: rgba(58, 121, 187, 1);

	/* top - right - bottom - left */
	border-width: 0.5px;
}

.conditionModifier-variableGroup-textField-field
.text-field-input {

	cursor: text;
	
	flex-grow: 1;
	flex-direction: row;

	overflow: scroll;

	-unity-overflow-clip-box: content-box;
	-unity-text-align: middle-left;

	--unity-sync-text-editor: true;
}

.conditionModifier-variableGroup-textField-field
.text-field-element {

	color: white;
	cursor: text;

	font-size: 13px;
	
	flex-grow: 1;
	flex-shrink: 0;

	-unity-font-definition: url('project:/Assets/Data/Fonts/Inter/asset/Inter-Medium-Dynamic-SDF.asset');
	
	letter-spacing: -0.25px;
	word-spacing: -2px;

	align-self: center;

	/* top - right - bottom - left */
	margin: 0px 0px 0px 1px;
}

.conditionModifier-variableGroup-textField-field.text-field-empty
.text-field-element {
	
	color: rgba(81, 81, 81, 1);
}

.conditionModifier-variableGroup-textField-field:hover
.text-field-element,

.conditionModifier-variableGroup-textField-field:focus
.text-field-element
{
	/* top - right - bottom - left */
	margin: 0px 0px 0px 1px;
}


/*< ---------------------------------------------------------- Variable Group Text Field Image >*/
.conditionModifier-variableGroup-textField-image {

	height: 22px;
	width: 22px;

	align-self: flex-start;

	/* top - right - bottom - left */
	margin: 2.5px 0px 0px 2px;

	--unity-image-tint-color: white;
}

.conditionModifier-variableGroup-textField-field:hover
.conditionModifier-variableGroup-textField-image,

.conditionModifier-variableGroup-textField-field:focus
.conditionModifier-variableGroup-textField-image {

	/* top - right - bottom - left */
	margin: 2px 0px 0px 1px;
}

.conditionModifier-variableGroup-textField-field.text-field-empty
.conditionModifier-variableGroup-textField-image {

	--unity-image-tint-color: rgba(81, 81, 81, 1);
}


/*< ---------------------------------------------------------- Variable Group Float Field Container >*/
.conditionModifier-variableGroup-floatField-container {
	
	flex-direction: row;
}


/*< ---------------------------------------------------------- Variable Group Float Field >*/
.conditionModifier-variableGroup-floatField-field {

	background-color: rgba(32, 32, 32, 1);

	height: 27px;
	width: 229px;

	align-self: center;

	flex-shrink: 0;
	flex-direction: row;

	overflow: hidden;

	white-space: nowrap;

	-unity-overflow-clip-box: content-box;

	/* top - right - bottom - left */
	margin: 3.5px 6px 6px 6px;
	border-radius: 4px;

	--unity-selection-color: rgba(61, 128, 223, 0.65);
	--unity-cursor-color: rgba(180, 180, 180, 1);
}

.conditionModifier-variableGroup-floatField-field:hover {
	
	border-color: rgba(101, 101, 101, 1);

	/* top - right - bottom - left */
	border-width: 0.5px;
}

.conditionModifier-variableGroup-floatField-field:focus {
	
	border-color: rgba(58, 121, 187, 1);

	/* top - right - bottom - left */
	border-width: 0.5px;
}

.conditionModifier-variableGroup-floatField-field
.float-field-input {

	cursor: text;
	
	flex-basis: auto;
	flex-grow: 1;
	flex-direction: row;

	overflow: scroll;
	
	-unity-overflow-clip-box: content-box;
	-unity-text-align: middle-left;

	--unity-sync-text-editor: true;
}

.conditionModifier-variableGroup-floatField-field
.float-field-element {

	align-self: center;

	color: white;
	cursor: text;

	font-size: 13px;
	
	flex-grow: 1;
	flex-shrink: 0;

	-unity-font-definition: url('project:/Assets/Data/Fonts/Inter/asset/Inter-Medium-Dynamic-SDF.asset');

	overflow: hidden;

	/* top - right - bottom - left */
	margin: 1px 4.5px 0px 5px;
}

.conditionModifier-variableGroup-floatField-field:hover
.float-field-element,

.conditionModifier-variableGroup-floatField-field:focus
.float-field-element
{
	/* top - right - bottom - left */
	margin: 1px 0px 0px 4.5px;
}


/*< ---------------------------------------------------------- Variable Group Float Field Hint Label >*/
.conditionModifier-variableGroup-floatField-hintLabel {
	
	align-self: center;

	font-size: 13px;
	
	color: rgba(101, 101, 101, 1);
	
	flex-shrink: 0;

	-unity-font-definition: url('project:/Assets/Data/Fonts/Inter/asset/Inter-Medium-Static-SDF.asset');
	
	white-space: nowrap;
	
	word-spacing: 3px;

	/* top - right - bottom - left */
	margin: 0px 0px 1px 0px;
}


/*< ---------------------------------------------------------- Switch Button >*/
.conditionModifier-switchButton {

	align-self: flex-end;
	
	background-color: rgba(255, 255, 255, 0);

	flex-direction: row;
	flex-shrink: 0;

	justify-content: flex-end;

	/* top - right - bottom - left */
	margin: 0px 3.5px 0px 0px;
	padding: 0.5px 2px 1px 3px;
	border-radius: 3px;
}

.conditionModifier-switchButton:hover {
	
	background-color: rgba(255, 255, 255, 0.133);
	cursor: link;
}

.conditionModifier-switchButton-first {
	top: -1px;
}

/*< ---------------------------------------------------------- Switch Button Icon Image >*/
.conditionModifier-switchButton-iconImage {
	
	align-self: center;

	height: 11px;
	width: 11px;
	
	--unity-image-tint-color: rgba(120, 120, 120, 1);
}

.conditionModifier-switchButton:hover
.conditionModifier-switchButton-iconImage {
	
	--unity-image-tint-color: rgba(255, 255, 255, 1);
}

/*< ---------------------------------------------------------- Switch Button Text Label >*/
.conditionModifier-switchButton-textLabel {
	
	align-self: center;

	color: rgba(120, 120, 120, 1);
	
	font-size: 10px;

	flex-shrink: 0;
	
	-unity-font-definition: url('project:/Assets/Data/Fonts/Inter/asset/Inter-Regular-Static-SDF.asset');
	-unity-text-align: middle-right;

	letter-spacing: -2px;
	word-spacing: 9px;

	white-space: nowrap;

	/* top - right - bottom - left */
	margin: 0px 0px 0px 5px;
}

.conditionModifier-switchButton:hover
.conditionModifier-switchButton-textLabel {
	
	cursor: link;
	
	color: rgba(255, 255, 255, 1);
}