/* =========================================================== Event Modifier Group =========================================================== */

/*< ---------------------------------------------------------- Main >*/
.event-modifier-group {
	
	/* top - right - bottom - left */
	padding: 5px 0px 0px 0px;
	border-width: 0px 0px 0px 0px;
}