/* =========================================================== Event Modifier Group =========================================================== */

/*< ---------------------------------------------------------- Main Container >*/
.eventModifierGroup_MainContainer {
	
	border-width: 0px 0px 0px 0px;
}