.node #title {
	background-color: rgba(142, 149, 95, 1);
	width: 517px;
}

#node-border #title #title-label {

	font-size: 18px;

	/* top - right - bottom - left */
	margin: 0px 0px 0px 8px;
	padding: 0px 2px 0px 2px;
}

#node-border #contents {
	
	flex-grow: 0;
}

#input {

	width: 80px;
}