.node #title {

	background-color: rgba(184, 74, 90, 1);
	width: 382px;
}

#node-border #title #title-label {
	
	font-size: 18px;

	/* top - right - bottom - left */
	margin: 0px 0px 0px 8px;
	padding: 0px 2px 0px 2px;
}

#input {

	width: 92px;
}