/*< ---------------------------------------------------------- Border >*/
.node-border #contents {
	
	flex-grow: 0;
}

/*< ---------------------------------------------------------- Title Container >*/
.node-title-container {
	background-color: rgba(116, 150, 98, 1);
}


/*< ---------------------------------------------------------- Input Port >*/
.port_Input_Port {

	/* top - right - bottom - left */
	margin: 0px 0px 15px 0px;
}