.node #title {
	background-color: rgba(116, 150, 98, 1);
}

.node_Border #contents {
	
	flex-grow: 0;
}


/* ---------------------------------------------------------------- Port ---------------------------------------------------------------- */
.port_Input_Port {

	/* top - right - bottom - left */
	margin: 0px 0px 15px 0px;
}