.node #title {
	background-color: rgba(52, 124, 143, 1);
}


/* ---------------------------------------------------------------- Node Elements Styles ---------------------------------------------------------------- */
