/*< ---------------------------------------------------------- Title Container >*/
.node-title-container {

	background-color: rgba(57, 62, 65, 1);

	min-width: 142px;
	
	/* top - right - bottom - left */
	border-radius: 4px 4px 0px 0px;
}


/*< ---------------------------------------------------------- Port Container >*/
.node-port-container {

	border-radius: 0px 0px 6px 6px;
}


/*< ---------------------------------------------------------- Input Container >*/
.node-input-container {

	border-radius: 0px 0px 0px 6px;
}


/*< ---------------------------------------------------------- Output Container >*/
.node-output-container {

	border-radius: 0px 0px 6px 0px;
}