/*< ---------------------------------------------------------- Title Container >*/
.node-title-container {

	background-color: rgba(78, 92, 132, 1);

	min-width: 290px;
}


/*< ---------------------------------------------------------- Content Button View Icon Image >*/
.contentButtonView-icon-image {

	height: 31px;
	width: 31px;

	/* top - right - bottom - left */
	margin: 2.5px 0px 0px 66.5px;
}